.body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.logo-text1 {
  color: #4d5ae5;
}
.logo-text2 {
  color: #2e2f42;
}
.nav-menu-studio {
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
}
.nav-menu-studio:hover,
.nav-menu-studio:focus,
.nav-menu-studio:active {
  color: #404bbf;
}
.nav-menu {
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
}
.nav-menu:hover,
.nav-menu:focus {
  color: #404bbf;
}
.address {
  line-height: 1.5;
  font-style: normal;
  color: #434455;
}
.address:hover,
.address:focus {
  color: #404bbf;
}

.sec-one {
  background-color: #2e2f42;
}
.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  background-color: inherit;
}
.button {
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  font-weight: 600;
  line-height: 1.19;
}
.button:active {
  background-color: #404bbf;
}
.sec-two-title {
  color: #ffffff;
}
.sec-two-list {
}

.sec-two-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  color: #2e2f42;
}
.sec-two-list-text {
  text-align: left;
}
.sec-three {
  background-color: #f4f4fd;
}
.sec-three-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.sec-three-list {
  background-color: #ffffff;
}
.sec-three-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}
.sec-three-list-text {
  line-height: 1.2;
  text-align: center;
}
.sec-four-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.sec-four-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  color: #2e2f42;
}
.sec-four-list-text {
  line-height: 1.5;
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
}
.footer-logo-text2 {
  color: #f4f4fd;
}
